{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Library of Congress Manager{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Library of Congress SRNs</h2>
        <a href="{% url 'loc_add_srn' %}" class="button"><span class="fa fa-plus-circle"></span> Add New SRN</a>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>Journal</th>
                    <th>SRN</th>
                    <th>Journal Name for Filename</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for srn in srns %}
                <tr>
                    <td><a href="{% url 'loc_view_journal_issues' srn.pk %}">{{ srn.journal.name }} ({{ srn.journal.code }})</a></td>
                    <td>{{ srn.srn }}</td>
                    <td>{{ srn.journal_name_filename }}</td>
                    <td><a href="{% url 'loc_edit_srn' srn.pk %}" class="button">Edit</a></td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <button name="delete" value="{{ srn.pk }}" class="alert button delete">Delete</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No SRNs registered.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}

{% block js %}
{% include "admin/elements/post_check.html" %}
{% endblock js %}