{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Library of Congress Manager{% endblock %}

{% block body %}
<div class="box">
    <div class="title-area">
        <h2>Manage Journal SRN</h2>
        <a href="{% url 'loc_deposit_manager' %}" class="button"><span class="fa fa-arrow-circle-o-left"></span> Back</a>
    </div>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            {{ form|foundation }}
            <div class="row expanded">
                <div class="large-12 columns">
                    <button class="button">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}